@font-face {
    font-family: pokemon-hollow;
    src: url('../fonts/pokemon-hollow.ttf'), local('../fonts/pokemon-hollow.ttf');
}

@font-face {
    font-family: pokemon-solid;
    src: url('../fonts/pokemon-solid.ttf'), local('../fonts/pokemon-solid.ttf');
}


body {
    background-color: rgb(137, 200, 147);
}

h1 {
    font-family: pokemon-hollow;
    text-align: center;
    font-size: 150%;
}

h2 {
    font-family: pokemon-hollow;
    text-align: center;
    font-size: 100%;
}

div#searchButton{
    text-align: center;
}

